global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
  - job_name: 'melba'
    metrics_path: /metrics
    scheme: http
    static_configs:
      - targets: ['pushgateway:9091']
        labels:
          service: 'pushgateway'
